$primary-color: #24292e;
$secondary-color: #586069;
$white: #ffffff;
$black: #000000;
$link-color: #0366d6;
$light-gray: #e1e4e8;
$dark-red: #e36209;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$space-no: 0px;
$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;
